node-red-flow.json
[{"id":"f1ecbdae.c3b75","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3352d7fd.38cc38","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"629273a8.df564c","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#00d9ff","baseFont":"Georgia,Georgia,serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#05acff","baseFont":"Georgia,Georgia,serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#05acff","edited":true},"page-titlebar-backgroundColor":{"value":"#5b40d0","edited":true},"page-backgroundColor":{"value":"#80dfff","edited":true},"page-sidebar-backgroundColor":{"value":"#000000","edited":true},"group-textColor":{"value":"#fdea21","edited":true},"group-borderColor":{"value":"#da1001","edited":true},"group-backgroundColor":{"value":"#000000","edited":true},"widget-textColor":{"value":"#fcfcfc","edited":true},"widget-backgroundColor":{"value":"#5b43d0","edited":true},"widget-borderColor":{"value":"#000000","edited":true},"base-font":{"value":"Georgia,Georgia,serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"ChatBot","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":67,"sy":100,"gx":0,"gy":0,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1da3d390.f5c5cc","type":"ui_tab","z":"","name":"ChatBot","icon":"dashboard","disabled":false,"hidden":false},{"id":"c92a63c8.7f48f","type":"ui_group","z":"","name":"DogBot","tab":"1da3d390.f5c5cc","order":1,"disp":true,"width":12,"collapse":false},{"id":"8bf0aeb8.ef73c","type":"ui_spacer","name":"spacer","group":"c92a63c8.7f48f","order":4,"width":12,"height":1},{"id":"d77acc7d.0f049","type":"ui_spacer","name":"spacer","group":"c92a63c8.7f48f","order":5,"width":12,"height":1},{"id":"887735aa.727af8","type":"ui_spacer","name":"spacer","group":"c92a63c8.7f48f","order":6,"width":3,"height":1},{"id":"57c62a12.403294","type":"ui_spacer","name":"spacer","group":"c92a63c8.7f48f","order":8,"width":3,"height":1},{"id":"5e5c6d04.7bde74","type":"ui_spacer","name":"spacer","group":"c92a63c8.7f48f","order":9,"width":3,"height":1},{"id":"a9fc5d41.2240b","type":"ui_spacer","name":"spacer","group":"c92a63c8.7f48f","order":10,"width":3,"height":1},{"id":"29f7adbd.85d452","type":"ui_spacer","name":"spacer","group":"c92a63c8.7f48f","order":11,"width":3,"height":1},{"id":"1c040139.035f8f","type":"ui_spacer","name":"spacer","group":"c92a63c8.7f48f","order":12,"width":3,"height":1},{"id":"b1087f0a.468a6","type":"ui_spacer","name":"spacer","group":"c92a63c8.7f48f","order":13,"width":3,"height":1},{"id":"3bba792e.30e8e6","type":"ui_spacer","name":"spacer","group":"c92a63c8.7f48f","order":14,"width":3,"height":1},{"id":"a9ebc847.092a98","type":"ui_spacer","name":"spacer","group":"c92a63c8.7f48f","order":15,"width":3,"height":1},{"id":"482281b5.9ed13","type":"ui_spacer","name":"spacer","group":"c92a63c8.7f48f","order":16,"width":3,"height":1},{"id":"85e00b61.d0c668","type":"ui_form","z":"f1ecbdae.c3b75","name":"","label":"","group":"c92a63c8.7f48f","order":1,"width":0,"height":0,"options":[{"label":"Enter Query","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":40,"wires":[["104d77bf.c951b8"]]},{"id":"104d77bf.c951b8","type":"function","z":"f1ecbdae.c3b75","name":"input parsing","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":260,"wires":[["a8d84107.8a4ff","4e5066a5.c49318"]]},{"id":"a8d84107.8a4ff","type":"ui_text","z":"f1ecbdae.c3b75","group":"c92a63c8.7f48f","order":2,"width":0,"height":0,"name":"","label":"User:           ","format":"{{msg.payload}}","layout":"row-spread","x":170,"y":500,"wires":[]},{"id":"4e5066a5.c49318","type":"watson-conversation-v1","z":"f1ecbdae.c3b75","name":"DogBot","workspaceid":"4c0c74af-f38d-4b17-8843-d6e5a4136c23","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/8d92b5b8-ce41-4de6-a2cf-3088b0c8c69b","timeout":"","optout-learning":false,"x":380,"y":100,"wires":[["260d23c3.80eaec","21d32a21.9baa86"]]},{"id":"260d23c3.80eaec","type":"debug","z":"f1ecbdae.c3b75","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":60,"wires":[]},{"id":"21d32a21.9baa86","type":"function","z":"f1ecbdae.c3b75","name":"Output Parsing","func":"msg.payload = msg.payload.output.text[0]\nmsg.url = \"https://thumbs.dreamstime.com/b/happy-dog-sign-board-welcome-text-says-hello-welcome-we%C3%A2%E2%82%AC%E2%84%A2re-open-happy-dog-chalkboard-welcome-text-says-hello-135894667.jpg\"\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":420,"wires":[["3ede1148.21120e","16ac0bbe.0d0244","9d5d0932.a51158"]]},{"id":"3ede1148.21120e","type":"ui_text","z":"f1ecbdae.c3b75","group":"c92a63c8.7f48f","order":3,"width":0,"height":0,"name":"","label":"Bot:                 ","format":"{{msg.payload}}","layout":"col-center","x":710,"y":480,"wires":[]},{"id":"16ac0bbe.0d0244","type":"ui_template","z":"f1ecbdae.c3b75","group":"c92a63c8.7f48f","name":"","order":7,"width":6,"height":5,"format":"<img ng-src = {{msg.url}} alt = \"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":720,"y":160,"wires":[[]]},{"id":"9d5d0932.a51158","type":"ui_audio","z":"f1ecbdae.c3b75","name":"","group":"c92a63c8.7f48f","voice":"en-US","always":"","x":720,"y":300,"wires":[]}]